@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@font-face {
    font-family: 'leko-lili-15x15';
    src: url(/FairfaxPona.ttf);
}
@font-face {
    font-family: 'Bodoni Bold';
    src: url("/Bodoni Bold.ttf")
}
body {
    font-family: 'EB Garamond';
}

.tokipona {
    font-family: 'leko-lili-15x15';
}
.tokipona:after {
    content:"\00a0";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bodoni Bold";
}
a {
    color: whitesmoke;
    text-decoration: underline;
}
body {
    margin: 0;
    background-image: url("/static.gif");
    background-color: rgb(31, 31, 31);
    background-repeat: repeat;
    background-attachment: fixed;
    color: rgb(221, 221, 221);

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
main {
    max-width: 75ch; 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 6rem);
}
p, ul, li {
    font-size: 14pt;
    line-height: 1.7rem;
}
tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.134);
}
table {
    border-collapse: collapse;
    width: 100%;
    padding-top: 2rem;
    table-layout: fixed;
}
tbody td {
    text-align: center;
}
thead th {
    background-color: rgba(255, 255, 255, 0.134);
    border-bottom: 1px solid white;

}
th, td {
    padding: 1rem;
}
blockquote {
    border-left: 1px solid white;
    padding-left: 1rem;
}
.rotated-table thead th {
    writing-mode: vertical-lr;
    padding-right: 0;
    vertical-align: top;
}
.rotated-table table {
    table-layout: fixed;
}
.rotated-table th:nth-child(1) {
    width: 4rem;
    padding-left: 3rem;
}
.overflow-table.rotated-table th {
    width: 2rem;
}
.overflow-table th {
    width: 4rem;
}
.overflow-table {
    overflow-x: auto;
}

@media (min-width: 1000px) {
    aside {
        max-width: 200px;
        position: absolute;
        margin-left: calc(600px + 3rem);
        margin-top: calc(16px + 1rem);
    }
    *:has(+ aside) {
        float: left;
        width: 100%;
    }
}
@media (max-width: 999px) {
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

::selection {
    color: black;
    background-color: rgba(255, 255, 255, 0.749);
}
a:not(footer a):hover {
    background-color: rgba(255, 255, 255, 0.749);
    color: black;
    text-decoration: none;
}

code {
    font-family: monospace;
    font-size: 14px;
}

pre {
    padding: 1rem;
}

.github-dark {
    background-color: rgb(31, 31, 31);
}

a {
    word-wrap: break-word;
}

main img {
    width: 100%;
}

/*main p:not(blockquote p, li p):first-of-type::first-letter {
    font-size: 4.5rem; 
    float: left;
    line-height: 4rem;
    width: 10rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: solid whitesmoke 1px;
}*/