<footer>
    <a href="https://github.com/lucasericsson222" target="_blank" rel="noopener noreferrer">
        <img width="32px" height="32px" src="/github-mark-white.svg" alt="Github Icon"></img>
    </a>
</footer>
<style>
    img {
        padding: 10px;
    }
    a:before {
        content: "";
    }
    a:after {
        content: "";
    }
    a:active:before {
        content: "";
    }
    a:active:after {
        content: "";
    }
    a:hover:before {
        content: ""
    }
    a:hover:after {
        content: ""
    }
</style>