
<nav>
    <ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/blog">Blog</a>
    </li>
    <li>
        <a href="/">Projects</a>
    </li>
    <li>
        <a href="/">Music</a>
    </li>
    </ul>
</nav>

<style>
@media (min-width: 1000px) {
    nav {
        position: fixed;
        height: 100vh;
        flex-direction: column;
        right: calc(50% + 300px + 3rem);
    }
    nav ul {
        text-align: right;
    }
}
@media (max-width: 999px) {
    nav li {
        display: inline-block;
    }
    nav {
        flex-direction: row;
        margin-top: 1rem;
    }
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
}
nav a {
    padding: 0.5rem;
    display: block;
    width: 3.5crem;
}
a[href*='//']:before {
    content: "[";
}
a[href*='//']:after {
    content: "]";
}
a:before {
    content: "{";
}
a:after {
    content: "}";
}
a:active:before {
    content: "~";
}
a:active:after {
    content: "~";
}
a:hover:before {
    content: "~"
}
a:hover:after {
    content: "~"
}
a {
    text-decoration: none;
}
</style>