
<nav>
    <ul>
        <div>
            <div>
            </div>
        </div>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/programming">Programming</a>
    </li>
    <li>
        <a href="/music">Music</a>
    </li>
    <li>
        <a href="/language">Language</a>
    </li>
    </ul>
</nav>

<style>
ul {
    padding-left:0;
}
@media (min-width: 1000px) {
    ul {
        background-image: linear-gradient(rgba(220, 20, 60, 0.371), rgba(177, 20, 220, 0.143), rgba(0,0,0,0));
        width: 10rem;
    }
    nav div {
        position: absolute;
        margin-top: 3rem;
        margin-left: -3rem;
        width: 10rem;
        height: 10rem;
        background-image: linear-gradient(rgba(220, 20, 60, 0.371), rgba(177, 20, 220, 0.143), rgba(0,0,0,0));
        z-index: -1;
    }
    nav {
        position: fixed;
        height: 100vh;
        flex-direction: column;
        right: calc(50% + 300px + 3rem);
    }
    nav ul {
        text-align: right;
    }
}
@media (max-width: 999px) {
    nav li {
        display: inline-block;
    }
    nav {
        flex-direction: row;
        margin-top: 1rem;
    }
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav a {
    padding: 0.5rem;
    display: block;
}
a {
    text-decoration: none;
}
a:active {
    background-color: rgba(255, 255, 255, 0.401);
    color: black;
}
</style>