---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
const { frontmatter } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Lucas Ericsson"/>
    <meta name="description" content="Computer Science and Linguistics Blog"/>
    <title>{frontmatter.title}</title>
    <!-- Katex -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
    crossorigin="anonymous"
    />

  </head>
  <body>
    <Nav/> 
    <main>
      <div>
        <slot/>
      </div>
    </main>
    <Footer/>
  </body>
</html>